<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div class="jumbotron text-center">
        <h1 class="display-3">Giỏ hàng</h1>
        <hr class="my-2">
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"  id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="home.jsp">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login.jsp">Giới thiệu</a>
                </li>
            </ul>
            
        </div>
    </nav>
<div style="width: 1200px;margin: 0 auto;">
            <table class="table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Tổng tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <td>1</td>
                    <td>Yeezy 350 v2</td>
                    <td>100.000vnd</td>
                    <td>10</td>
                    <td>1.000.000vnd</td>
                </tbody>
            </table>
            <hr>
            <form action=""> <a href="#" class="btn btn-primary" style="margin-left: 1000px;">Thanh toán</a></form>
</div>
</body>

</html>