<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{/pages/login}" th:object="${user}" method="post">
    Username <br>
    <input type="text" th:field="*{taiKhoan}" value=""/> <br/>
    Password <br>
    <input type="password" th:field="*{matKhau}" value=""/><br/>
    <br>
    <input type="submit" value="login" />
    <input type="reset" value="Reset"/>
</form>
</body>
</html>